In [ ]:
#Training

In [8]:
#puzzle how to print odd and even without using conditional statements
num = 9
(num % 2) and "odd" or "even"

'odd'

In [94]:
a = " we are coding".split(" ")[::-1]
a = " ".join(a)
a

'coding are we '

In [95]:
a[::-1]

' ew era gnidoc'

# List

In [ ]:
#functions of lists
#concept of reference and shallow copy
#the referenced changes will reflect in the original list
#while it won't happen in the copy case

In [2]:
a = [10,20,30]

In [162]:
#referencial copy the address value of a is copied to b
b = a
b.append(5)
a

[10, 20, 30, 5]

In [163]:
#make a shallow copy and copy the entire data 
c = a.copy()
c.append(6)
c

[10, 20, 30, 5, 6]

In [164]:
#print the count of given elements in the list
a.count(500)

0

In [165]:
#used to insert collection of data like list , tuple etc
a.extend([200,400,500])
a

[10, 20, 30, 5, 200, 400, 500]

In [166]:
#return the index of given element
a.index(400)

5

In [3]:
#insert into the list insert(index,data)
a.insert(1,5000)
a

[10, 5000, 20, 30]

In [168]:
#pop removes the last element from the list and returns that element / index can be given 
a.pop()

500

In [169]:
#reverses the list
a.reverse()
a

[400, 200, 5, 30, 20, 5000, 10]

In [172]:
#sort
a.sort(reverse = True)
a

[5000, 400, 200, 30, 20, 10, 5]

 # Sets

In [202]:
#define a set
a = {10,20,30}
a

{10, 20, 30}

In [203]:
#add adds the dataitem into the set
a.add(100)
a

{10, 20, 30, 100}

In [204]:
b = {30, 40, 50,60,70}
a.difference(b) # a-b

{10, 20, 100}

In [205]:
a.union(b) # all the elements of set a and b

{10, 20, 30, 40, 50, 60, 70, 100}

In [206]:
a.isdisjoint(b) #if two sets have common values then it is not a disjoint set

False

In [207]:
a-b #aka difference()

{10, 20, 100}

In [208]:
b-a #aka difference()

{40, 50, 60, 70}

In [210]:
a.difference_update(b) # for permanent change
a

{10, 20, 100}

In [211]:
a.isdisjoint(b)

True

In [213]:
c = {1000,2000,3000}
a.update(c)
a

{10, 20, 100, 1000, 2000, 3000}

In [217]:
a.pop()

2000

In [212]:
#other functions like issuperset() , issubset()

In [230]:
a1 = {1,2,3}
b1 = {3,4,5}
c1 = {3,5,6,7}

print(a1.intersection(b1).difference(c1))

set()

# Tuple

In [ ]:
#tuple data is immutable the variable pointing to it is not

In [231]:
a = 10,20,30,40
a

(10, 20, 30, 40)

In [ ]:
# a = (10) not a tuple
# a = (10,) is a tuple

In [232]:
a.count(30)

1

In [233]:
a.index(30)

2

# Dictionary

In [17]:
student = {
    "name": "abc",
    "id": 124,
    "marks": 45
}

In [253]:
student['id']

124

In [18]:
len(student)

3

In [255]:
student.get("id")

124

In [257]:
student.items()

dict_items([('name', 'abc'), ('id', 124), ('marks', 45)])

In [259]:
student[4] = 444
student.items()

dict_items([('name', 'abc'), ('id', 124), ('marks', 45), (4, 444)])

In [260]:
student.keys()

dict_keys(['name', 'id', 'marks', 4])

In [261]:
student.values()

dict_values(['abc', 124, 45, 444])

In [262]:
student.pop(4)

444

In [265]:
# student.popitem() pop last item

In [268]:
student.update({4: 444,5: 555})
student

{'name': 'abc', 'id': 124, 'marks': 45, 4: 444, 5: 555}

# Typecasting

In [269]:
#you need to know the default values of various data

In [271]:
a = int()
a

0

In [272]:
float()

0.0

In [273]:
str()

''

In [274]:
dict()

{}

In [275]:
list()

[]

In [276]:
bool()

False

In [277]:
tuple()

()

In [279]:
set()

set()

In [281]:
type({})

dict

In [283]:
type(set())

set

In [ ]:
#data type casting

In [285]:
a = float(10)
a

10.0

In [286]:
int(10.45)

10

In [288]:
str(5.5)

'5.5'

In [289]:
a = '10'
int(a)

10

In [290]:
float(a)

10.0

In [394]:
b = '10.45'
c = float(b)
#int(b) // ERRRRORRR
#cuz python does not support loss of data

10

In [295]:
bool(10)

True

In [296]:
bool(0)

False

In [297]:
int(True)

1

In [298]:
int(False)

0

In [299]:
#Now derived data types

In [300]:
s = "hello"

In [301]:
list(s)

['h', 'e', 'l', 'l', 'o']

In [302]:
a = [1,2,3]
str(a)

'[1, 2, 3]'

In [305]:
dict(a=2,b=3,c=4)

{'a': 2, 'b': 3, 'c': 4}

In [306]:
lst = [[1,111],[2,222],[3,333]]
dict(lst)

{1: 111, 2: 222, 3: 333}

In [ ]:
#dict to list only return the keys of list

In [314]:
#Operators

In [315]:
30.5//2

15.0

In [316]:
2**4 #power

16

In [317]:
#logical operators

In [321]:
#and or not

In [322]:
#Relational Operators

In [323]:
# <,>,=>,<=,!=,== Everytime they return Boolean response

In [324]:
5!=5

False

In [325]:
# "=" is overloaded i.e.

In [326]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [327]:
a = 10
b = 20

a,b= 20,10
print(a,b)

20 10

In [330]:
a %= 3
a

2

In [331]:
#Bitwise Operator

In [332]:
# & ~ | >> << ^

In [333]:
~3   # ~(n) = -(n+1) or 2s complement

-4

In [336]:
4 & 7

4

In [344]:
4>>1

2

In [345]:
3 | 4

7

In [346]:
5<<2 # as 2 bytes are given

20

In [354]:
#1
val = 3
c = 1 & val
if c % 2 != 0:
    print(1)
else:
    print(0)

1

In [ ]:
#2

In [357]:
#Membership Operator

In [358]:
# in
10 in [10,20,30]

True

In [359]:
"a" in "abc"

True

In [364]:
10,20 in [20,30,40,50]
#last element i.e. 20 is concerned

(10, True)

In [365]:
#Idenetity Operator "is" checks whether operands have same memory addresses or not
a = 10
b = a
b is a

#doubt

True

# BUILTIN FUNCTIONS

In [369]:
#range()
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [370]:
list(range(7,100,7))

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [15]:
n = 10
list(range((n*10),n-1,-n))

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [9]:
n= 5
list(range(n,55,n))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [378]:
n = 3

In [373]:
#len()
a = [1,2,3,5]
len(a)

4

In [ ]:
#print(item,sep="@@" end="##")
#"due to end cursor move to new line ****AMBIGUITY**** "

In [392]:
print(10,11,sep =" ",end="##")
print(333)
print(11,44, sep=" ",end="@@")

10 11##333
11 44@@